/* Typ-selektorer */
* {
    box-sizing: border-box;
    font-family: system-ui;
}

body{
    margin: 0;
    background: rgb(255, 255, 255)
    
}

.header {
    display: flex;
    justify-content: center;
    height: 2.7rem;
    padding: 0 1rem;
    /* Första värdet (0) är upp och ner, andra värdet (1rem) är höger och vänster*/
    background: #1a1a1a;
}

.footer{
    display: flex;

}
/* Objekt-selektorer */

.container {
    max-width: 150rem;
    margin: auto;
    width: 100%;
}

.navbar{
    align-items: center;
    font-size: 0.7rem;
    color: rgba(219, 219, 219, 0.914);
    font-weight: 300;
}

/* Utility-selektorer */

.flex{
    display: flex;
}

.gap-3{
    gap: 2.7rem;
}

span:hover{
    cursor: pointer;
}

.work-icon{
    fill: 0;
}

.icon-size{
    font-size: 20px !important;
    font-weight: 300 !important;
    cursor: pointer;
}

img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.main-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
}

.text-header{
    position: absolute;
    left: 50%;
    top: 8%;
    font-weight: 550;
    font-size: 58px;
}

.text-paragraph{
    position: absolute;
    font-size: 25px;
    font-weight: 350;
    top: 20%;
    left: 50%;
}

.read-more-and-buy-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    left: 50%;
}

.read-more{
    border-radius: 25px;
    background-color: #2b8efeee;
    max-width: 110px;
    padding: 12px 25px;
    text-align: center;
    position: relative;
    right: -20px;
    top: -10px;

}

.buy{
    border-radius: 25px;
    max-width: 80px;
    border-style: solid;
    border-color: #2b8efeee;
    background-color: #1a1a1a;
    padding: 12px;
    width: 130px;
    text-align: center;
    color: #2b8efeee;
    position: relative;
    top: -10px;
}



