/* Typ-selektorer */
* {
    box-sizing: border-box;
    font-family: system-ui;
}

body{
    margin: 0;
    /* background: rgb(255, 255, 255) */
}

.header {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 15px;
    padding-inline-end: 10px;
    height: 2.7rem;
    /* Första värdet (0) är upp och ner, andra värdet (1rem) är höger och vänster*/
    background: #1a1a1a;
}
/* Objekt-selektorer */

.container {
    max-width: 160rem;
    margin: auto;
    width: 100%;
}

.navbar{
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    color: rgba(219, 219, 219, 0.914);
    font-weight: 300;
    text-wrap: nowrap;
    margin: 0 auto;
}


/* Utility-selektorer */

.menu-icon{
    display: none !important;
}

.flex{
    display: flex;
}

.gap-3{
    gap: 2.7rem;
}

.gap-2{
    gap:1.5rem;
}

.gap-1{
    gap: 1rem;
}

span:hover{
    cursor: pointer;
}

.work-icon{
    fill: 0;
}


.icon-size{
    font-size: 20px !important;
    font-weight: 300 !important;
    cursor: pointer;
}

.img-div{
    background-image: url('iPhone_large.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 43.5rem;
    width: 100%;
}

.main-container{
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    color: rgb(255, 250, 250);
}

.h1-main{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 52px;
    font-weight: 480;
    font-size: 56px;
}

.text-paragraph{
    position: absolute;
    font-size: 28px;
    font-weight: 250;
    margin-top: 121px;
}

.read-more-and-buy-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 175px;
    
}

.read-more{
    border-radius: 25px;
    background-color: #2b8efeee;
    max-width: 130px;
    padding: 12px 23px;
    text-align: center;
    position: relative;

}

.buy{
    border-radius: 25px;
    max-width: 80px;
    border-style: solid;
    border-width: thin;
    border-color: #2b8efeee;
    background-color: transparent;
    padding: 12px;
    width: 130px;
    text-align: center;
    color: #2b8efeee;
    position: relative;
}



