@media (max-width: 1040px) {
    .navbar-text{
        display: none;
    }

    .menu-icon{
        display: flex !important;
    }

    .icon-menu{
        display: flex !important;
    }

    .navbar{
        display: flex;
    }

    .navbar-text{
        display: none !important;
    }
    
    .apple-icon{
        display: flex;
        flex-grow: 1 !important;
        text-align: left;
    }

    .gap-1-7{
        gap: 0;
    }

    .img-div {
        background-image: url('iPhone_small.jpeg');
        background-position: center center;
        height: 43.5rem;
        width: 100%;
    }
}